In [1]:
import pandas as pd
from sqlalchemy import create_engine



# bring in the csv files / data
# Source: Kaggle

Russian_Troll_file = "Resource/IRAhandle_tweets_1.csv"
Russian_Troll_df = pd.read_csv(Russian_Troll_file)
Russian_Troll_df.head()

Russian_Troll_file_2 = "Resource/IRAhandle_tweets_2.csv"
Russian_Troll_file_2_df = pd.read_csv(Russian_Troll_file_2)

# Combine dataframes
russian_troll_combined = pd.concat([Russian_Troll_df, Russian_Troll_file_2_df])

russian_troll_combined.head()

,external_author_id,author,content,region,language,publish_date,harvested_date,following,followers,updates,post_type,account_type,new_june_2018,retweet,account_category
0,9.060000e+17,10_GOP,"""We have a sitting Democrat US Senator on tria...",Unknown,English,10/1/2017 19:58,10/1/2017 19:59,1052,9636,253,NaN,Right,0,0,RightTroll
1,9.060000e+17,10_GOP,Marshawn Lynch arrives to game in anti-Trump s...,Unknown,English,10/1/2017 22:43,10/1/2017 22:43,1054,9637,254,NaN,Right,0,0,RightTroll
2,9.060000e+17,10_GOP,Daughter of fallen Navy Sailor delivers powerf...,Unknown,English,10/1/2017 22:50,10/1/2017 22:51,1054,9637,255,RETWEET,Right,0,1,RightTroll
3,9.060000e+17,10_GOP,JUST IN: President Trump dedicates Presidents ...,Unknown,English,10/1/2017 23:52,10/1/2017 23:52,1062,9642,256,NaN,Right,0,0,RightTroll
4,9.060000e+17,10_GOP,"19,000 RESPECTING our National Anthem! #StandF...",Unknown,English,10/1/2017 2:13,10/1/2017 2:13,1050,9645,246,RETWEET,Right,0,1,RightTroll

In [6]:
# ira_tweets 1GB file. Very Large
# Source: published by Twitter

ira_tweets = "Resource/ira_tweets_csv_hashed.csv"
ira_tweets_df = pd.read_csv(ira_tweets)
ira_tweets_df.head()

/Users/dynawilston/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,tweetid,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,...,latitude,longitude,quote_count,reply_count,like_count,retweet_count,hashtags,urls,user_mentions,poll_choices
0,877919995476496385,249064136b1c5cb00a705316ab73dd9b53785748ab757f...,249064136b1c5cb00a705316ab73dd9b53785748ab757f...,249064136b1c5cb00a705316ab73dd9b53785748ab757f...,"Москва, Россия",Я примерный семьянин!,NaN,132,120,2013-12-07,...,absent,absent,0.0,0.0,0.0,0.0,[],[http://ru-open.livejournal.com/374284.html],[2572896396],NaN
1,492388766930444288,0974d5dbee4ca9bd6c3b46d62a5cbdbd5c0d86e196b624...,0974d5dbee4ca9bd6c3b46d62a5cbdbd5c0d86e196b624...,0974d5dbee4ca9bd6c3b46d62a5cbdbd5c0d86e196b624...,Россия,Телефонист .Изучение истории Игра в любитель...,NaN,74,8,2014-03-15,...,absent,absent,0.0,0.0,0.0,0.0,NaN,[http://pyypilg33.livejournal.com/11069.html],NaN,NaN
2,719455077589721089,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,Рязань,волны так и плещут фиолетовой волной,NaN,165,454,2014-04-29,...,absent,absent,0.0,0.0,0.0,0.0,[],[https://www.youtube.com/watch?v=9GvpImWxTJc],[40807205],NaN
3,536179342423105537,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,bda40f262856eee77c48a332e5eb23bc4f1943d600867d...,Рязань,волны так и плещут фиолетовой волной,NaN,165,454,2014-04-29,...,absent,absent,0.0,0.0,0.0,0.0,[STOPNazi],NaN,NaN,NaN
4,841410788409630720,a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...,a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...,a53ed619f1dea6015c7c878bf744b0eefe8f7272dccf34...,NaN,Отвечаю на любой #ВопросПрезиденту,http://t.co/3CVqbMQFbf,4430,4413,2012-02-25,...,absent,absent,0.0,0.0,3.0,4.0,[],[https://goo.gl/fBp94X],NaN,NaN

In [14]:
# ir_users file 
# Source: shared by Twitter

ira_users = "Resource/ira_users_csv_hashed.csv"
ira_users_df = pd.read_csv(ira_users)
ira_users_df.head(5)

,userid,user_display_name,user_screen_name,user_reported_location,user_profile_description,user_profile_url,follower_count,following_count,account_creation_date,account_language
0,94c383089f0dd9993020276bd01113ecb5935ad860bfa6...,94c383089f0dd9993020276bd01113ecb5935ad860bfa6...,94c383089f0dd9993020276bd01113ecb5935ad860bfa6...,USA,Conservative. Politics. Pro-Life. Writer. #Go...,NaN,1541,1676,2014-06-13,en
1,799bb58d3c064d3884fdc4604c74068ff059b60c0b3464...,799bb58d3c064d3884fdc4604c74068ff059b60c0b3464...,799bb58d3c064d3884fdc4604c74068ff059b60c0b3464...,Раша,На воре и шапка горит,NaN,299,324,2013-12-22,en
2,0d33d19fbadccaad0033a0a0d6ec7f9919e21da60ea958...,0d33d19fbadccaad0033a0a0d6ec7f9919e21da60ea958...,0d33d19fbadccaad0033a0a0d6ec7f9919e21da60ea958...,"Чеченская республика, Россия",Я никогда не хотел стать президентом. У меня в...,NaN,4094,0,2016-11-25,ru
3,efbe6ab452cf84134d5e7764cc1ce176067c8224fd8868...,efbe6ab452cf84134d5e7764cc1ce176067c8224fd8868...,efbe6ab452cf84134d5e7764cc1ce176067c8224fd8868...,US,❥ ❣ my sweethearts)),NaN,140,191,2013-08-11,en
4,d1e5ee3856d4af872b7bb31638fb86fa0a8ee3287d8ca8...,d1e5ee3856d4af872b7bb31638fb86fa0a8ee3287d8ca8...,d1e5ee3856d4af872b7bb31638fb86fa0a8ee3287d8ca8...,NaN,NaN,NaN,119,1152,2016-07-06,de

In [ ]:
# Drop unnecessary columns in russion_troll_combined df

russian_troll_combined = russian_troll_combined.drop(columns = ['author', 
                                                                'harvested_date', 
                                                                'updates', 
                                                                'account_type', 
                                                                'new_june_2018', 
                                                                'account_category'])

In [ ]:
# Drop duplicates  
ira_users_df.drop_duplicates("userid", inplace=True)
ira_tweets_df.drop_duplicates("userid", inplace = True)

russian_troll_combined.drop_duplicates('external_author_id', inplace = True)

In [6]:
# Set index 
ira_users_df.set_index("userid", inplace = True)
ira_tweets_df.set_index ("userid", inplace = True)

russian_troll_combined.set_index ("external_author_id", inplace = True)

In [7]:
# Create connection to postgres
connection_string = "postgres:previouslythepasswordwashere@localhost:5432/Russian Trolls"
engine = create_engine(f'postgresql://{connection_string}')

In [16]:
# Confirm connection
engine.table_names()

['ira_user', 'ira_tweets', 'russian_trolls']

In [12]:
# Send data to PostgresSQL

ira_tweets_df.to_sql(name='ira_tweets', con=engine, if_exists='append', index=True)

ira_users_df.to_sql(name='ira_user', con=engine, if_exists='append', index=True)

russian_troll_combined.to_sql(name='russian_trolls', con=engine, if_exists='append', index=True)

In [ ]:
# Win